<section id="contact" class="contact-wrap">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="main-title">
					<h2>Start a project</h2>
					<h3>Get in contact right now and let's get your project moving!</h3>
				</div>
			</div>
			
			<div class="span12">
				<form method="post" action="{% url 'contact' %}" id="contact-form">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Send now" class="cta">
        </form>

			</div>						
		</div>
	</div>
</section>
